*{
    margin:0;
    padding: 0;
}



.container{

    height:100%;
    width:100%;
    background-color:#f6d8ac;
    background-position: center; 
    background-size:cover;
    position: absolute;
}



.formbox{

    height:480px;
    width :380px;
    position: relative;
    margin:6% auto;
    background: #ffff;
    padding:10px;
}




.button-box {
    width:220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;

}

.toggle-button{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0; 
    outline: none;
    position: relative;


}